:root {
  --primary-color: #ff7200;
  --text-color: #282728;
  --height-avatar: 174px;
  --width-avatar: 90px;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  background-color: #bfbfbf;
}

p {
  font-weight: 400;
}

.grid.wide {
  width: 100%;
}

main {
  max-width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  background-color: #ffffff;
}
.top_header-area {
  width: 100%;
}

.header_inner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 40px;
}

.header-bars {
  display: flex;
  align-items: center;
  font-size: 8rem;
  flex: 1;
}

.header-logo-img {
  height: 67px;
  width: 100%;
  flex: 1;
  object-fit: cover;
}

.header-cart {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}
.header-cart img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-cart-notify {
  position: absolute;
  top: 60%;
  left: 72%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  background-color: var(--primary-color);
  color: #ffffff;
  margin-left: 15px;
  border-radius: 15%;
}

.header-cart-notify::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: -30px;
  border: 20px solid;
  border-color: transparent var(--primary-color) transparent transparent;
}

/* container */
.container_inner-advertisement {
  position: relative;
  padding: 290px 40px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_inner-advertisement-bgr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container_inner-advertisement-saleOff {
  font-size: 15rem;
  font-weight: 600;
  color: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 1;
}
.number {
  position: relative;
  padding-top: 50px;
  font-size: 26.6rem;
}
.percent {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  font-size: 10.3rem;
}

.container_inner-advertisement-title {
  font-size: 9.3rem;
  font-weight: 600;
  color: #ffffff;
  padding-top: 90px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.container_inner-advertisement-note {
  font-size: 4.5rem;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  margin-top: 100px;
  z-index: 1;
}

.btn-buy-now {
  font-size: 6rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #ffffff;
  border: transparent;
  border-radius: 10px;
  margin: 75px 0;
  padding: 55px 100px;
  margin-bottom: 155px;
  z-index: 1;
}

/* Products */
.container_inner-content {
  margin: 0 40px;
}
.container_inner-products-title {
  text-align: center;
  padding: 60px 0;
  font-size: 9rem;
  font-weight: 600;
}

.container_inner-products-content {
  border-bottom: 3px solid var(--primary-color);
}

.container_inner-products-content-item {
  padding-bottom: 90px;
}

.container_inner-products-content-item-img {
  width: 100%;
  height: 100%;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_inner-products-content-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 18px;
}

.container_inner-products-content-item-title-name span {
  font-size: 6rem;
  font-weight: 600;
}

.container_inner-products-content-item-title-discount {
  position: relative;
  padding-left: 10px;
}

.container_inner-products-content-item-title-discount img {
  width: 100%;
}

.discount-number {
  position: absolute;
  top: 45%;
  left: 66%;
  transform: translate(-50%, -50%);
  font-size: 4.5rem;
  font-weight: 600;
  color: #ffffff;
}

.container_inner-products-content-item-price-old {
  padding-bottom: 25px;
}

.container_inner-products-content-item-price-old span {
  position: relative;
  font-size: 3.5rem;
  font-weight: 400;
}

.line {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-bottom: 3px solid #bfbfbf;
}

.container_inner-products-content-item-price-new span {
  font-size: 6rem;
  font-weight: 600;
  color: var(--primary-color);
}

/* History */

.container_inner-history-bought {
  border-bottom: 2px solid #edece8;
}
.container_inner-history-bought-container {
  display: flex;
  align-items: center;
  padding: 90px 0;
}
.container_inner-history-bought-rate {
  flex: 1;
}

.container_inner-history-bought-rate span {
  font-size: 3.5rem;
  font-weight: 600;
}

.container_inner-history-bought-rate-star {
  margin-top: 15px;
}

.container_inner-history-bought-rate-star img {
  padding-right: 15px;
}
.container_inner-history-bought-amount {
  flex: 1;
}
.container_inner-history-bought-amount span {
  font-size: 3.5rem;
  font-weight: 600;
}
.container_inner-history-bought-amount-products {
  font-size: 5rem;
  font-weight: 600;
  color: #ff2549;
  padding-top: 25px;
}

.container_inner-history-person-container {
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 135px;
}

.container_inner-history-person-title {
  font-size: 3.5rem;
  font-weight: 600;
  margin-left: 50px;
}

/* Button main */
.container_inner-main-btn-buy-now {
  background-color: var(--primary-color);
  color: #ffffff;
  border: transparent;
  width: 100%;
  padding: 50px 0;
  font-size: 6.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 10px;
}

.container_inner-remaining-products {
  font-size: 3.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 35px;
  padding-bottom: 55px;
}

.container_inner-remaining-products span {
  font-size: 5rem;
  color: var(--primary-color);
}

.container_inner-evaluate {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_inner-evaluate-frames {
  border: 4px solid var(--primary-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 84px 0;
  margin-right: 18px;
  max-height: 310px;
  flex: 1;
}

.container_inner-evaluate-frames:last-child {
  margin-right: 0;
}
.container_inner-evaluate-frames-icon {
  text-align: center;
}
.container_inner-evaluate-frames span {
  font-size: 3.5rem;
  font-weight: 600;
  padding-top: 50px;
  text-align: center;
}

.container_inner-frames {
  border: 4px solid var(--primary-color);
  border-radius: 10px;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-size: 4rem;
}

.container_inner-person-see-title {
  text-align: center;
  margin-left: 26px;
}
.container_inner-person-see-title span {
  font-weight: 600;
}

.container_inner-frames-checked {
  font-weight: 600;
}
.last {
  margin-bottom: 80px;
}

/* detail */
.container_inner-detail-product {
  padding-bottom: 65px;
}
.container_inner-detail-product-title {
  font-size: 5rem;
  font-weight: 600;
  padding-bottom: 20px;
}

.container_inner-detail-product-desc {
  display: flex;
  padding: 20px 0;
}

.container_inner-detail-product-desc-bullet {
  border-radius: 50%;
  background-color: var(--primary-color);
  width: 16px;
  height: 16px;
  margin-top: 15px;
}

.container_inner-detail-product-desc-text {
  margin-left: 25px;
  font-size: 4rem;
  font-weight: 300;
  flex: 1;
}

/* slider */
.container_inner-detail-product-slider {
  display: flex;
  align-items: center;
  position: relative;
}

.container_inner-detail-product-slider-img {
  display: none;
}
.container_inner-detail-product-slider-img img {
  vertical-align: middle;
  width: 100%;
}
.container_inner-detail-product-slider-btn {
  border-radius: 50%;
  background-color: rgb(255, 114, 0);
  opacity: 0.502;
  width: 119px;
  height: 119px;
  z-index: 245;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_inner-detail-product-slider-btn img {
  width: auto;
}
.prev {
  position: absolute;
  top: 50%;
  left: 2%;
}

.next {
  position: absolute;
  top: 50%;
  right: 2%;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* timer board */
.container_inner-timer-board {
  background-color: rgb(255, 114, 0);
  border-radius: 10px;
  margin: 40px 0;
}

.container_inner-timer-board-notification {
  font-size: 4.8rem;
  font-weight: 600;
  color: #ffffff;
  padding: 65px 50px 0px;
}

.container_inner-timer-board-notification-underline {
  width: 100%;
  height: 1px;
  background-color: #ffb980;
  margin-top: 55px;
}

.container_inner-timer-board-time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 65px 50px;
}
.container_inner-timer-board-time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  width: 25%;
}

.container_inner-timer-board-time-unit-num {
  border: 4px solid #ffffff;
  border-radius: 10px;
  padding: 40px 50px;
  font-size: 9rem;
  font-weight: 600;
  color: #ffffff;
}

.container_inner-timer-board-time-unit-date {
  font-size: 3.5rem;
  font-weight: 600;
  color: #ffffff;
  padding-top: 15px;
}
/* --------------------- */

.container_inner-option-buy {
  background-color: #f6f5f3;
  border-radius: 10px;
}

.container_inner-option-buy-title {
  padding: 75px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.container_inner-option-buy-title-buy-text {
  font-size: 6.5rem;
  font-weight: 600;
  margin-bottom: 45px;
}

.container_inner-option-buy-title-line {
  font-size: 3.5rem;
}

/* Buy-options-info */
.container_inner-option-buy-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
}

.container_inner-option-buy-info-input {
  width: 100%;
  padding: 55px 45px;
  margin-top: 25px;
  border: 3px solid rgb(212, 212, 212);
  border-radius: 10px;
  box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.1);
  font-size: 4rem;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.container_inner-option-buy-info-input::placeholder {
  font-size: 4rem;
  font-weight: 600;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-color);
}

.container_inner-option-buy-info-input:focus {
  outline: none;
}

.container_inner-option-buy-info-input span {
  font-weight: 600;
}

.container_inner-option-buy-info-code {
  background-color: #ffffff;
  width: 100%;
  border-radius: 10px;
  border: 3px solid rgb(212, 212, 212);
  box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
  padding: 55px 45px;
}

.container_inner-option-buy-info-code-title {
  padding-bottom: 55px;
  font-size: 4rem;
  font-weight: 600;
}

.container_inner-option-buy-info-code-container {
  width: 100%;
}

.product-code-item {
  font-size: 4rem;
  display: block;
  position: relative;
  padding-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product-code-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-color: rgb(255, 255, 255);
  border: 4px solid rgb(101, 101, 101);
  border-radius: 10px;
}
.product-code-item input:checked ~ .checkmark {
  background-color: var(--primary-color);
  border: none;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.product-code-item .checkmark:after {
  left: 30%;
  top: 3px;
  width: 10px;
  height: 20px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product-code-item input:checked ~ .checkmark:after {
  display: block;
}

/* comment */
.container_inner-content-comment-substance {
  padding-top: 95px;
}

.container_inner-content-comment-rate-title {
  font-size: 6.5rem;
  font-weight: 600;
}

.container_inner-content-comment-rate-container {
  padding: 40px 0;
  display: flex;
  align-items: center;
}

.container_inner-content-comment-rate-container span {
  font-size: 4rem;
}

.container_inner-content-comment-rate-container-star img {
  margin-right: 14px;
}

.container_inner-content-comment-rate-container-star img:last-child {
  margin-right: 0;
}

.container_inner-content-comment-rate-container-number {
  padding: 0 25px;
}

.container_inner-content-comment-user {
  display: flex;
  align-items: center;
}

.container_inner-content-comment-user-avatar {
  margin-right: 20px;
}

.container_inner-comment-user-info {
  width: 100%;
}

.container_inner-comment-user-info-name {
  font-size: 4rem;
  font-weight: 600;
}

.container_inner-comment-user-info-rate {
  margin: 5px 0;
}

.container_inner-comment-user-info-rate img {
  width: 40px;
  height: auto;
  object-fit: cover;
}

.container_inner-comment-user-info-rate img:not(first-child) {
  margin-right: 5px;
}

.container_inner-content-comment-layout {
  padding: 30px 0;
}
.container_inner-content-comment-layout:last-child {
  padding-bottom: 80px;
}
.container_inner-content-comment-layout:not(:last-child) {
  border-bottom: 2px solid rgb(194, 194, 194);
  padding: 30px 0 60px;
}
.container_inner-content-comment-user-comment {
  margin-left: calc(var(--height-avatar) + 20px);
}

.container_inner-content-comment-user-comment-text {
  border-radius: 4px;
  background-color: rgb(235, 235, 235);
  padding: 40px 50px;
  font-size: 3.5rem;
}

.container_inner-content-comment-user-comment-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 80px;
}

.more-comment-btn {
  background-color: rgb(241, 241, 241);
  color: var(--text-color);
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 85px;
}
.more-comment-btn span {
  font-weight: 600;
}

/* footer */
.footer {
  background-color: var(--primary-color);
}

.footer_container {
  padding: 110px 40px 82px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_container-hotline {
  font-size: 4.5rem;
  font-weight: 600;
  color: #ffffff;
  padding: 75px 0px 24px 0px;
}

.footer_container-address {
  font-size: 4rem;
  font-weight: 300;
  color: #ffffff;
  padding: 16px 0;
}

.footer_container-link {
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.footer_container-link-bgr {
  margin: 0 12px;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffffff;
}
.footer_container-link img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding-right: 1px;
}
.footer_underline {
  height: 2px;
  margin: 0 40px;
  background-color: rgb(194, 194, 194);
}
.footer-copyright {
  width: 100%;
  font-size: 3.5rem;
  font-weight: 300;
  color: #cdcdcd;
  text-align: center;
  padding: 40px 0;
}

/* responsive */
@media (max-width: 739px) {
  .container_inner-products-content .row {
    margin-left: -20px;
    margin-right: -20px;
  }
  .container_inner-products-content .col {
    padding-left: 20px;
    padding-right: 20px;
  }
  /* header */
  .header_inner-content {
    padding: 20px 40px;
  }
  .header-bars {
    font-size: 3rem;
  }
  .header-logo-img {
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  .header-cart {
    height: 30px;
  }

  .header-cart img {
    height: 100%;
  }
  .header-cart-notify {
    width: 30px;
    height: 30px;
    top: 50%;
    font-size: 1.5rem;
  }
  .header-cart-notify::after {
    border: 10px solid;
    border-color: transparent var(--primary-color) transparent transparent;
    left: -15px;
  }
  /* container */
  .container_inner-advertisement {
    padding-top: 100px;
  }
  .container_inner-advertisement-bgr {
    height: 100%;
  }

  .container_inner-advertisement-saleOff {
    font-size: 4rem;
  }
  .number {
    margin-right: 10px;
    padding-top: 10px;
  }
  .percent {
    font-size: 2rem;
    top: 50%;
  }
  .container_inner-advertisement-title {
    font-size: 2.8rem;
    padding-top: 30px;
  }
  .container_inner-advertisement-note {
    font-size: 1.5rem;
    margin-top: 30px;
  }
  .btn-buy-now {
    font-size: 3rem;
    padding: 20px 50px;
    margin-top: 30px;
    margin-bottom: 75px;
  }
  .container_inner-products-title {
    font-size: 3.5rem;
    padding: 30px 0;
  }

  .container_inner-products-content-item {
    padding-bottom: 40px;
  }

  .container_inner-products-content-item-title {
    padding-top: 15px;
    padding-bottom: 10px;
  }
  .discount-number,
  .container_inner-products-content-item-price-new span,
  .container_inner-products-content-item-title-name span {
    font-size: 2rem;
  }

  .container_inner-products-content-item-price-old {
    padding-bottom: 15px;
  }

  .container_inner-products-content-item-price-old span {
    font-size: 1.5rem;
  }
  .container_inner-history-bought-container {
    padding: 40px 0;
  }
  .container_inner-history-bought-rate {
    width: 100%;
  }
  .container_inner-history-bought-rate span {
    font-size: 1.8rem;
  }
  .container_inner-history-bought-rate-star img {
    padding-right: 5px;
    width: 15%;
  }

  .container_inner-history-bought-amount {
    padding-top: 0px;
    width: 100%;
  }
  .container_inner-history-bought-amount span {
    font-size: 1.8rem;
  }
  .container_inner-history-bought-amount-products {
    font-size: 2rem;
    padding-top: 5px;
  }
  .container_inner-history-person-container {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .container_inner-history-person-img img,
  .container_inner-history-person-img {
    width: 100%;
    flex: 1;
  }
  .container_inner-history-person-title {
    font-size: 1.5rem;
    width: 100%;
    flex: 2;
    margin-left: 10px;
  }

  .container_inner-main-btn-buy-now {
    font-size: 2.5rem;
    padding: 25px;
  }
  .container_inner-remaining-products {
    font-size: 2rem;
    margin-top: 25px;
    padding-bottom: 40px;
  }
  .container_inner-remaining-products span {
    font-size: 3rem;
  }
  .container_inner-evaluate {
    margin-top: 0;
  }
  .container_inner-evaluate-frames {
    padding: 15px 5px;
    margin-right: 5px;
    max-height: 120px;
  }
  .container_inner-evaluate-frames-icon img {
    width: 50%;
  }
  .frames-last img {
    width: 60%;
  }
  .container_inner-evaluate-frames span {
    font-size: 1.5rem;
    padding-top: 15px;
  }
  .container_inner-frames {
    text-align: center;
    padding: 10px;
  }
  .container_inner-frames img {
    width: 50%;
  }

  .container_inner-frames-icon {
    text-align: center;
    padding: 0 10px;
  }

  .container_inner-frames-icon img {
    width: 70%;
  }

  .container_inner-person-see-title {
    font-size: 1.5rem;
    padding-right: 20px;
    margin-left: 0;
  }
  .last {
    padding: 24px 5px;
    margin-bottom: 60px;
  }
  .container_inner-frames-checked {
    font-size: 1.5rem;
  }

  .container_inner-detail-product {
    padding-bottom: 40px;
  }

  .container_inner-detail-product-title {
    font-size: 2.5rem;
  }

  .container_inner-detail-product-desc {
    padding: 10px 0;
  }

  .container_inner-detail-product-desc-bullet {
    width: 10px;
    height: 10px;
    margin-top: 5px;
  }
  .container_inner-detail-product-desc-text {
    font-size: 1.5rem;
    margin-left: 15px;
  }
  .container_inner-detail-product-slider-btn {
    width: 85px;
    height: 85px;
  }
  .next,
  .prev {
    top: 40%;
  }
  .container_inner-timer-board-notification {
    font-size: 1.5rem;
    padding: 30px;
  }
  .container_inner-timer-board-notification-underline {
    margin-top: 25px;
  }
  .container_inner-timer-board-time {
    padding: 0 30px 30px 30px;
  }

  .container_inner-timer-board-time-unit-num {
    font-size: 3rem;
    padding: 3px 6px;
  }

  .container_inner-timer-board-time-unit-date {
    font-size: 1.5rem;
    padding-top: 5px;
  }

  .container_inner-option-buy-title-buy-text {
    font-size: 3.5rem;
    margin-bottom: 30px;
  }
  .container_inner-option-buy-title-line {
    font-size: 2rem;
    width: 100%;
  }

  .container_inner-option-buy-title {
    padding: 35px 15px 15px 15px;
  }

  .container_inner-option-buy-info {
    padding: 0 20px;
  }

  .container_inner-option-buy-info-input {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    font-family: "IBM Plex Sans", sans-serif;
  }
  .container_inner-option-buy-info-input::placeholder {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--text-color);
  }
  .container_inner-option-buy-info-code-title {
    font-size: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 20px;
  }
  .container_inner-option-buy-info-code {
    width: 100%;
    padding: 15px;
  }
  .product-code-item {
    font-size: 1.2rem;
    padding: 8px 25px;
  }
  .checkmark {
    width: 20px;
    height: 20px;
    border-radius: 5px;
  }
  .product-code-item .checkmark:after {
    left: 30%;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 4px 4px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .container_inner-content-comment-substance {
    padding-top: 60px;
  }

  .container_inner-content-comment-rate-title {
    font-size: 3rem;
  }
  .container_inner-content-comment-rate-container {
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }
  .container_inner-content-comment-rate-container-star {
    flex: 1;
  }
  .container_inner-content-comment-rate-container-star:first-child {
    flex: 3;
    margin-left: 0;
  }
  .container_inner-content-comment-rate-container-star:last-child {
    flex: 1;
  }
  .container_inner-content-comment-rate-container-star img {
    margin-right: 5px;
    width: 15%;
  }
  .res {
    padding: 10px 0;
    margin-left: 10px;
  }
  .res span {
    font-size: 1.5rem;
  }

  .container_inner-content-comment-user-avatar {
    max-width: var(--width-avatar);
    margin-right: 0;
  }
  .container_inner-content-comment-user-avatar img {
    width: 80%;
  }

  .container_inner-comment-user-info-name {
    font-size: 1.5rem;
  }

  .container_inner-comment-user-info-rate img {
    width: 25px;
  }
  .container_inner-comment-user-info-rate img:not(first-child) {
    margin-right: 0px;
  }
  .container_inner-content-comment-user-comment {
    margin-left: var(--width-avatar);
    margin-top: 10px;
  }
  .container_inner-content-comment-user-comment-text {
    font-size: 1.5rem;
    padding: 10px 20px;
  }

  .container_inner-content-comment-user-comment-img {
    margin-bottom: 0;
  }
  .img-feedback {
    flex: 1;
  }
  .img-feedback img {
    width: 100%;
  }
  .img-feedback:not(:last-child) {
    padding-right: 10px;
  }
  .more-comment-btn {
    font-size: 2rem;
  }

  /* footer */
  .footer_container {
    padding: 40px;
  }
  .footer_container-logo {
    text-align: center;
  }
  .footer_container-logo img {
    width: 50%;
  }
  .footer_container-hotline {
    font-size: 1.6rem;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer_container-address {
    font-size: 1.2rem;
    padding: 5px 0;
  }
  .footer_container-link {
    padding-top: 40px;
  }
  .footer_container-link-bgr {
    padding: 10px;
  }
  .footer_container-link img {
    width: 35px;
    height: 35px;
  }
  .footer-copyright {
    font-size: 2.5rem;
    padding: 20px 0;
  }
}
