:root {
  --primary-color: #ff7200;
  --text-color: #282728;
  --height-avatar: 174px;
  --width-avatar: 60px;
}

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  font-family: "Oxygen", sans-serif;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  background-color: #bfbfbf;
}

p {
  font-weight: 400;
}

h1,
h2,
h3,
span,
p {
  padding: 0;
  margin: 0;
}

.grid.wide {
  width: 100%;
}

.top_header-area {
  max-width: 420px;
  margin: 0 auto;
  overflow: hidden;
  height: 70px;
  background-color: rgb(181, 107, 67);
  position: fixed;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}

.header_inner-content {
  width: 420px;
  padding: 0 16px;
}
.header_inner-content-advertisement {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
}
.header_inner-content-advertisement-numberSaleoff {
  padding: 0 4px;
  font-size: 29px;
  color: rgb(238, 233, 102);
}
.header_inner-content-advertisement-policy {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
}
.header_inner-content-advertisement-policy-time {
  padding: 2px 10px;
  background-color: #a80e28;
  margin-left: 5px;
}
/* container */
.container {
  max-width: 420px;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  padding-top: 70px;
}
.container_intro-product {
  height: 450px;
}
.container_intro-product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.container_intro-slide {
  position: relative;
  height: 80%;
  margin-bottom: 5px;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 0.75s ease-in-out;
}
.control-slide {
  position: absolute;
  top: 50%;
  color: #fff;
  transform: translateY(-50%);
  font-size: 20px;
  text-align: center;
}
.prev,
.next {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
.control-slide img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.container_intro-img-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  overflow: hidden;
}
.control-list-slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.list-prev,
.list-next {
  width: 15px;
  height: 15px;
}
.list-prev {
  left: 5px;
}
.list-next {
  right: 5px;
}
.img-slide {
  width: 80px;
  height: 80px;
  /* margin-right: 4px; */
  padding: 0 2px;
  cursor: pointer;
  opacity: 0.7;
  filter: brightness(80%);
}

.img-slide:hover {
  filter: brightness(100%);
}
/* .img-slide:first-child {
  margin-left: 0;
}
.last-slide-img {
  margin-right: 0;
} */

.container_intro-advertisement {
  background-color: rgba(255, 248, 243, 1);
  padding: 0 10px 0 10px;
}

.container_intro-advertisement-product-name {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  padding: 20px 0;
}
.container_intro-advertisement-frames {
  padding: 10px 0;
}
.container_intro-advertisement-frames-trans {
  display: flex;
  height: 80px;
}
.container_intro-advertisement-frames-buy {
  background-color: rgb(204, 34, 25);
  width: 80px;
  height: 80px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 22px 10px 15px 15px;
  line-height: 1;
}
.container_intro-advertisement-frames-price {
  background-color: rgb(255, 115, 1);
  width: 320px;
  padding: 10px 25px;
  padding-top: 8px;
}
.container_intro-advertisement-frames-price-old {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.container_intro-advertisement-frames-price-old span {
  text-decoration: line-through;
}
.container_intro-advertisement-frames-price-new {
  display: flex;
  align-items: center;
}
.container_intro-advertisement-frames-price-new h3 {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  flex: 1;
  text-transform: uppercase;
}
.container_intro-advertisement-frames-price-new h1 {
  flex: 6;
  font-size: 38px;
  font-weight: bold;
  color: #fff;
  padding-left: 10px;
}
.container_intro-advertisement-frames-ship {
  height: 30px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding-top: 3px;
}

.slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  left: 0;
  background-color: transparent;
  border: none;
  color: #fff;
}
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  right: 0;
  background-color: transparent;
  border: none;
  color: #fff;
}
.slick-track {
  height: 80px;
}
/* Products */
.container_inner {
  background-color: rgba(255, 248, 243, 1);
}
.container_inner-products-content .row {
  margin-left: -8px;
  margin-right: -8px;
}
.container_inner-products-content .col {
  padding-left: 8px;
  padding-right: 8px;
}

.container_inner-content {
  margin: 0 16px;
}
.container_inner-products-title {
  text-align: center;
  padding: 20px;
  font-size: 3rem;
  font-weight: 600;
}

.container_inner-products-content {
  border-bottom: 3px solid var(--primary-color);
}

.container_inner-products-content-item {
  padding-bottom: 20px;
}

.container_inner-products-content-item-img {
  width: 100%;
  height: 100%;
}

.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container_inner-products-content-item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-bottom: 0;
  height: 32px;
}

.container_inner-products-content-item-title-name span {
  font-size: 2.5rem;
  font-weight: 700;
}

.container_inner-products-content-item-title-discount {
  position: relative;
  width: 60px;
}

.container_inner-products-content-item-title-discount img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.discount-number {
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
}

.container_inner-products-content-item-price-old {
  padding-bottom: 0px;
}

.container_inner-products-content-item-price-old span {
  position: relative;
  font-size: 1.5rem;
  font-weight: 400;
}

.line {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-bottom: 1px solid #bfbfbf;
}

.container_inner-products-content-item-price-new span {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

/* .container_inner-content-section {
} */

.section {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.number-star-ave {
  font-size: 18px;
  color: var(--primary-color);
  font-weight: 700;
  text-decoration: underline;
}
.number-star {
  display: flex;
  align-items: center;
  margin: 0 5px;
}
.number-star div {
  width: 18px;
  height: 18px;
  flex: 1;
}
.number-star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.num-sold,
.num-evaluate {
  font-size: 14px;
  color: #6f6f6f;
}
.num-sold span,
.num-evaluate span {
  font-size: 16px;
  color: #000;
  text-decoration: underline;
}
.num-sold {
  margin-left: 15px;
}
.section-img-bought {
  display: flex;
  padding-right: 10px;
}
.section-img-bought div {
  width: 30px;
  height: 30px;
  opacity: 0.3;
}
.section-img-bought div:not(:first-child) {
  margin-left: -10px;
}
.section-img-bought div:last-child {
  opacity: 1;
}
.section-img-bought img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 360px;
}
.section-img-bought svg {
  background-color: #b4b4b4;
  border-radius: 360px;
}
.section p {
  font-size: 14px;
}
svg {
  padding: 5px;
  padding-top: 6px;
}
/* Info product */
.container_inner-content-info-product {
}
.container_inner-content-info-product h1 {
  width: 100%;
  text-align: center;
  font-size: 28px;
  padding: 20px 0;
}
.video-info {
  position: relative;
  width: 348px;
  height: 200px;
  margin: auto;
  cursor: pointer;
}
.video-info img {
  width: 100%;
}
.video-info.pristine::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 0;
  width: 0;
  border-left: 30px solid #fff;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  transition: opacity 0.2s ease;
}

.video-info.pristine:hover::before {
  opacity: 0.7;
}
.container_inner-content-info-product ul {
  font-size: 16px;
  line-height: 1.8;
}
.container_inner-content-info-product ul li span {
  font-weight: bold;
}
.flash {
  width: 25px;
  height: 40px;
}
.flash svg {
  fill: var(--primary-color);
}
.section h2 {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 36px;
  margin-left: 5px;
}
.remain-products {
  font-size: 12px;
  line-height: 1.6;
  margin-left: 15px;
}
.remain-products span {
  font-size: 16px;
  font-weight: bold;
  color: var(--primary-color);
}
.section-bar {
  position: relative;
  width: 100%;
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 70px;
}
.section-subbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 70px;
}
.container_inner-content-status-viewer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-viewer {
  width: 40px;
  height: 40px;
}
.container_inner-content-status-viewer div {
  font-size: 14px;
  font-weight: 700;
}
.container_inner-content-status-viewer span {
  font-size: 18px;
  color: var(--primary-color);
}
/* Button main */
.btn-main {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container_inner-main-btn-buy-now {
  background-color: var(--primary-color);
  color: #ffffff;
  border: transparent;
  padding: 15px 90px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  box-shadow: 0 15px 20px -20px #000;
  cursor: pointer;
  margin-bottom: 35px;
}
.container_inner-main-btn-buy-now:hover {
  background-color: #000;
}

.container_inner-evaluate {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.container_inner-evaluate-frames {
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
  margin-right: 10px;
  flex: 1;
  box-shadow: 8px 8px 15px 0 rgb(0 0 0 / 10%);
}
.container_inner-evaluate-frames:last-child {
  margin-right: 0;
}
.container_inner-evaluate-frames-icon {
  width: 60px;
  height: 70px;
}
.container_inner-evaluate-frames-icon svg {
  fill: var(--primary-color);
}
.container_inner-evaluate-frames h1 {
  font-size: 12px;
  text-align: center;
}
.container_inner-evaluate-frames span {
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
}

/* .container_inner-frames {
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  width: 100%;
  padding: 12px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container_inner-frames img {
  width: 35px;
  height: 20px;
  object-fit: contain;
  margin-left: 0;
  margin-right: 10px;
}
.last {
  margin-bottom: 30px;
}
.container_inner-person-see-title {
  text-align: center;
  font-size: 1.4rem;
  margin-left: 0px;
  padding-right: 20px;
}
.container_inner-person-see-title span {
  font-weight: 600;
}

.container_inner-frames-checked {
  font-size: 1.4rem;
  font-weight: 600;
} */

/* detail */
.container_inner-detail-product {
  padding-bottom: 20px;
}
.container_inner-detail-product h1 {
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 0px;
  line-height: 1.4;
}
.container_inner-detail-product h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  color: var(--primary-color);
}
.container_inner-detail-product-desc {
  display: flex;
  margin-left: -5px;
}

.container_inner-detail-product-desc-icon {
  width: 25px;
  height: 25px;
}

.container_inner-detail-product-desc-text {
  margin-left: 2px;
  font-size: 14px;
  line-height: 2;
  flex: 1;
}
.container_inner-detail-product-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 10px;
}
.container_inner-detail-product-img img {
  padding: 0 2px;
}
/*----------------*/
.container_inner-advertisement-board {
  background-color: #444;
  color: #fff;
  margin: 0 -16px;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
}
/* timer board */
.container_inner-timer-board {
  margin-top: 20px;
}

.container_inner-timer-board-notification {
  font-size: 23px;
  font-weight: 700;
  color: var(--primary-color);
  text-align: center;
}

.container_inner-timer-board-time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
.container_inner-timer-board-time-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #4caf50;
  margin: 0 5px;
}

.container_inner-timer-board-time-unit-num {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}

.container_inner-timer-board-time-unit-date {
  font-size: 1.5rem;
  font-weight: 600;
  color: #ffffff;
}
/* --------------------- */

/* Buy-options-info */
.container_inner-option-buy {
  border-bottom: 1px solid rgb(234, 234, 234);
  padding-bottom: 40px;
}
.container_inner-option-buy-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px;
}

.container_inner-option-buy-info-input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #000;
  box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.container_inner-option-buy-info select {
  padding-left: 3px;
}
.container_inner-option-buy-info-input::placeholder {
  font-size: 1.5rem;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--text-color);
  word-break: break-word;
}

.container_inner-option-buy-info-input:focus {
  outline: none;
}

.container_inner-option-buy-info-input span {
  font-weight: 600;
}

.container_inner-option-buy-info-code {
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #000;
  box-shadow: 5px 8.66px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 15px 5px 15px 10px;
  margin-top: 5px;
}

.container_inner-option-buy-info-code-title {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-top: 5px;
}

.container_inner-option-buy-info-code-container {
  width: 100%;
}
.container_inner-option-buy-info-code-container .row {
  width: 100%;
}
.product-code-item {
  font-size: 1.5rem;
  padding: 2px 20px;
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.product-code-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: rgb(255, 255, 255);
  border: 1px solid #000;
}
.product-code-item input:checked ~ .checkmark {
  background-color: #fff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.product-code-item .checkmark:after {
  left: 25%;
  top: 0px;
  width: 3px;
  height: 6px;
  border: solid #212121;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.product-code-item input:checked ~ .checkmark:after {
  display: block;
}
textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
.container_inner-main-btn-order-now {
  width: 100%;
  margin-top: 10px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

/* rate */
.container_inner-content-rate {
  position: relative;
  padding-top: 20px;
}

.container_inner-content-rate-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container_inner-content-rate-amount {
  display: flex;
  align-items: center;
}

.container_inner-content-rate-star {
  display: flex;
}
.container_inner-content-rate-star div {
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: #ffd700;
}
/* .container_inner-content-rate-star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.container_inner-content-rate-amount span {
  font-size: 16px;
  font-weight: 400;
  margin-left: 10px;
}
.control-rate {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.control-rate div {
  font-size: 16px;
  position: absolute;
}
.button-filter {
  position: relative;
}
.button-filter button {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}
.button-filter button:hover {
  background-color: #e8e8e8;
  cursor: pointer;
}
.button-filter svg {
  padding: 0;
  margin-top: 5px;
}
.filter-container {
  position: absolute;
  top: 35px;
  right: 0;
  width: 250px;
  height: 250px;
  border: 1px solid transparent;
  box-shadow: 0px 6px 14px -4px rgb(0 0 0 / 14%);
  border-radius: 4px;
  background-color: #fff;
  z-index: 5;
  transform-origin: calc(100% - 10%) top;
  animation: growIn ease-in 0.2s;
  will-change: opacity, transform;
  display: none;
}
.filter-container h1 {
  font-size: 18px;
  font-weight: 600;
  padding: 20px 20px 10px 20px;
}
.filter-container-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
  font-size: 14px;
}

.filter-icon {
  display: none;
}
.check .filter-icon {
  display: block;
}
.container_inner-content-rate-container {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  display: none;
  transition: top 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  animation: SlipDown ease-in 0.5s;
  padding-bottom: 15px;
}
.show {
  display: block;
}
.container_inner-content-rate-container-star {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}
.container_inner-content-rate-container-star div {
  width: 40px;
  height: 40px;
  color: #ffd700;
  font-size: 29px;
}
/* .container_inner-content-rate-container-star img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.container_inner-content-rate-container-star span {
  font-size: 40px;
  font-weight: 600;
  margin-left: 5px;
}
.container_inner-content-rate-container-frames-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.container_inner-content-rate-container-frames-amount span {
  width: 35px;
}
.container_inner-content-rate-container-frames-amount-star {
  display: flex;
}
.container_inner-content-rate-container-frames-amount-star div {
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: #ffd700;
}
.container_inner-content-rate-container-frames-amount-bar {
  width: 22em;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.04);
  margin-top: 3px;
  border-radius: 3px;
}
.container_inner-content-rate-container-frames-amount-subbar {
  height: 10px;
  background-color: #7b7b7b;
  border-radius: 3px;
}
.five-star {
  width: 100%;
}
.four-star {
  width: 80%;
}
.three-star {
  width: 60%;
}
.two-star {
  width: 40%;
}
.one-star {
  width: 20%;
}
/* comment */
.container_inner-content-comment {
  padding-top: 25px;
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding-bottom: 40px;
}

.container_inner-content-comment-button {
  width: 100%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  padding: 8px 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 3px;
}
.container_inner-content-comment-button:hover {
  background-color: #e8e8e8;
}
.container_inner-content-comments-content {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container_inner-content-comments-content-column {
  flex: 1;
}
.container_inner-content-comments-content-column:first-child {
  padding-right: 15px;
}
.container_inner-content-comments-content-card {
  box-shadow: 0px 6px 14px -4px rgb(0 0 0 / 14%);
  background: #fff;
  margin-top: 20px;
  padding-bottom: 20px;
}
.container_inner-content-comments-content-card:first-child {
  margin-top: 0;
}
.container_inner-content-comments-content-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.container_inner-content-comments-content-card-name {
  padding: 8px 10px 0 10px;
}
.container_inner-content-comments-content-card-name span {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
}
.container_inner-content-comments-content-card-name i {
  font-size: 12px;
  margin-left: 5px;
}
.container_inner-content-comments-content-card-time {
  margin: 5px 10px 0 10px;
  color: #767676;
  font-size: 11px;
}
.container_inner-content-comments-content-card-star-rate {
  display: flex;
  padding: 8px 10px 8px 10px;
  color: #ffd700;
}
.container_inner-content-comments-content-card-star-rate div {
  margin-right: 2px;
}
.container_inner-content-comments-content-card-desc {
  padding: 0px 10px 8px 10px;
  font-size: 14px;
  line-height: 19px;
}
.container_inner-content-comments-content-card-type {
  font-size: 11px;
  color: #a3a3a3;
  font-weight: 400;
  padding: 0px 10px 0px 10px;
}
.container_inner-content-comments-content-card-type-option {
  padding: 0px 10px 0px 10px;
  font-size: 13px;
}
/* footer */
.footer {
  position: relative;
  height: 185px;
  background-color: #ffefcb;
  /* background-image: url(../image/shop.jpg); */
  /* background-repeat: no-repeat; */
}
.footer img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.footer_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
.footer_container-logo {
  height: 100%;
  padding-top: 75px;
  padding-left: 10px;
}
.footer_container-logo span {
  font-weight: 700;
  font-size: 26px;
  color: #bc302d;
  text-shadow: 2px 2px #837e7e;
}
.footer_container-desc {
  width: 100%;
  height: 100%;
  padding-left: 5px;
}
.footer_container-desc h1 {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4;
  padding: 2px 0;
}
.footer_container-desc-address {
  color: #000;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.4;
  padding: 4px 15px 4px 0;
}
.footer_container-desc p {
  margin-left: 20px;
  color: #000;
  font-size: 10px;
  font-weight: 700;
  line-height: 1.4;
  padding-top: 10px;
}
/* responsive */
/* @media (max-width: 768px) {
  .container_inner-advertisement-title {
    font-size: 30px;
  }
  .footer_container-address {
    font-size: 13px;
  }
}
@media (max-width: 320px) {
  .container_inner-advertisement {
    padding-right: 16px;
    padding-left: 16px;
  }
  .container_inner-advertisement-saleOff {
    font-size: 35px;
  }
  .percent {
    font-size: 30px;
  }
  .container_inner-advertisement-title {
    font-size: 25px;
  }
  .container_inner-advertisement-note {
    font-size: 12px;
  }
  .container_inner-evaluate-frames span {
    font-size: 9px;
  }
  .container_inner-person-see-title {
    font-size: 11px;
  }
  .product-code-item {
    font-size: 10px;
  }
  .footer_container-address {
    font-size: 11px;
  }
} */

@keyframes SlipDown {
  from {
    display: none;
  }
  to {
    display: block;
  }
}

@keyframes growIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
